@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.main-title {
  margin: 45px 0;
  text-decoration: none;
  color: rgb(189, 139, 0);
  transition: 0.4s;
  padding: 3px;
  display: flex;
  place-content: center;
}
